<h1>Tu Carrito</h1>
<ul>
    {{#each cart}}
        <li>
            <h3>{{this.name}}</h3>
            <p>Precio: ${{this.price}}</p>
            <button>Eliminar</button>
        </li>
    {{/each}}
</ul>
<a href="/checkout">Finalizar compra</a>
