<!-- Archivo: public/views/login.hbs -->
{{> navbar}}
<h1>Iniciar Sesión</h1>
<form action="/auth/login" method="POST">
  <input type="email" name="email" placeholder="Correo electrónico" required>
  <input type="password" name="password" placeholder="Contraseña" required>
  <button type="submit">Ingresar</button>
</form>
{{> footer}}
