<nav>
  <h1>RunwayStyle</h1>
  <ul>
    <li><a href="/">Inicio</a></li>
    <li><a href="/products">Productos</a></li>
    <li><a href="/cart">Carrito</a></li>
    <li><a href="/login">Iniciar Sesión</a></li>
  </ul>
</nav>
